/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.demo-thumbnail
{
  border-radius: 5px; 
  background-size: 40px 40px; 
  background-repeat: no-repeat;
  min-width: 40px; 
  min-height: 40px; 
  max-width: 40px;
  margin-right: 10px;
}

.label-text
{
	color: #737373;
}
table td
{
	vertical-align: top;
	width: 38.333333%;
}

table tr {
    height: 75px;
    border-bottom: 0;
}
.area-sub-text
{
	margin-top: 6px;
	font-weight: 300;
	background: url(http://localhost/field/app/16a57c5d6b266646c654f17698736917.svg);
	background-repeat: no-repeat;
	background-size: 30px;
    padding-right: 24px;
    min-height: 30px;
    padding-top: 4px;
    text-indent: 20px;
    line-height: 1.35;
}
.checklist-status
{
	padding-left: 0;
	position: relative;
}
.status-text
{
	display: block;
}

